*{
    padding: 0;
    margin: 0;
}
.MainHeader{
    max-width: 1400px;
    width: 100%;
    height: 70px;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.MainHeader .HeaderLeft{
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 999;
}
.HeaderLeft img{
    width: 130px;
    
}
.Mleft{
    margin-left: 50px;
}
.MRight{
    margin-right: 35px;
}
.MegaHeader .MainMenuList{
    list-style: none;
    display: inline-flex;    
}
.MegaHeader .MainHeadFont{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: small;
}
.MegaHeader .MainHeadFont:hover{
    background-color: black;
    color: white;
}
.MegaHeader .MainMenuList a{
    text-decoration: none;
    color: black;
    padding: 7px;
    border-radius: 50px;
   
}
.MainHeader .HeaderRight{
    display: flex;
    align-items: center;    
    height: 100%;
    z-index: 999;
}
.IconStyle{
    height: 30px;
    margin-left: 15px;
    
}
.MegaHeader .MainMenuList .MegaBox{
    background-color: white;
    border: 1px solid rgb(167, 167, 167);
    top: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    max-height: 1px;
    
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    
}


  
.MegaContent{
    display: flex;
    padding: 25px 25px 25px 5px;
    visibility: hidden;
    position: relative;
    top: -20px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.RowHeadFont{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: small;
    cursor: default;
}
.row li a{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: smaller;
    font-style: normal;
}
.row li a:hover{
    font-weight: 600;
}
.row li{
    list-style: none;
    margin-left: -5px;
    line-height: 35px;
}
.MegaContent .row{
    width: 200px;
    margin-left: 20px;
}
.MegaContent .imgRow{
    width: 410px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid lightgray;
    
}
.MegaContent .Featured{
    width: 100%;
    height: calc(100% - 35px);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.Featured .ads{
    width: 120px;
    height: 135px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 10px;
}
.NewTag{
    background-color: lightseagreen;
    color: white;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 50px;
    position: absolute;
    margin-left: -70px;
    margin-top: -110px;
    z-index: 800;
}
.imgRow .Featured .ads img{
    width: 70%;
    scale: 1;
    transition: all 0.3s ease-in-out;
    z-index: 799;
}
.imgRow .Featured .ads:hover img{
    scale: 1.1;
}
.ads p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: smaller;
    font-style: normal;
}
.MegaHeader .MainMenuList:hover .MegaBox{
    visibility: visible;
    max-height: 1000px;
    
    .MegaContent{
        visibility: visible;
        top: 0;
        opacity: 1;
    }
}
.MainMenuList .Remargin{
    left: 100px;
}
.MRight .Remargin{
    left: 550px;
}

.SliderSection{
    width: 100%;
    height: 670px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}
.SliderContent{
    max-width: 1400px;
    width: 100%;
    height: 670px;
    
    position: absolute;
}
.SliderContent #LandGraphics{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.SliderSection .SliderTopSection{
    width: 1400px;
    height: 250px;
    z-index: 2;
    
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#BackArrow{
    width: 45px;
    position: relative;
    left: 10px;
    cursor: pointer;
}
#ForwardArrow{
    width: 45px;
    position: relative;
    right: 10px;
    cursor: pointer;
     
}
.SectionDetails{
    width: 300px;
    height: 170px;
    color: white;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.SectionDetails h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    cursor: default;
}
.SectionDetails p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    cursor: default;
}
.SectionDetails button{
    border-radius: 50px;
    font-size:small;
    font-weight: bold;
    border-style: none;
    padding: 11px 20px ;
    align-self: flex-start;
    cursor: pointer;
}
.SectionDetails button:hover{
    background-color: lightgray;
}

.WeekHighlights{
    width: 100%;
    height: 900px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.WeekHighlights h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}
.Highlights{
    width: 100%;
    height: 840px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.Highlights .HighlightMenu{
    list-style: none;
    display: inline-flex;

}
.HighlightMenu li{
    padding-left: 45px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}
.HighlightContent{
    width: 1390px;
    height: 684px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BigHighlight{
    width: 680px;
    height: 684px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}

.SmallHighlightArea{
    width: 680px;
    height: 684px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}
.SmallHighlight{
    width: 330px;
    height: 330px;
    border-radius: 25px;
    margin-right: 23px;
    overflow: hidden;
    position: relative;
}
.BigHighlight:hover .ZoomImg,
.SmallHighlight:hover .ZoomImg{
    scale: 1.05;
    transition: all 0.3s ease-in-out;
}
.PositionToBack{
    position: absolute;
}
.BigHighlightData{
    width: 100%;
    height: 140px;

    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-bottom: 5px;
}
.BigHighlight .BigHLText{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}
.AnimatedButtonArea{
    width: 320px;
    height: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.AnimatedButtonArea .AnimeButtonPara{
    width: 100%;
    height: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
.AnimatedButtonArea .AnimeButtonPara p{
    position: relative;
    text-align: center;
    top: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.AnimatedButtonArea .AnimeButon{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.AnimatedButtonArea .AnimeButon .AnButton{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding: 10px 20px ;
    border-radius: 50px;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
    position: relative;
    top: 25px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.AnimatedButtonArea .AnimeButon .AnButton:hover{
    background-color: gray;
}
.HighlightContent .BigHighlight:hover .AnimatedButtonArea{
    .AnimeButtonPara p{
        opacity: 0;
        top: -30px;
    }
    .AnimeButon .AnButton{
        top: 0;
        opacity: 1;
    }
}

.SmallHighlightData{
    width: 100%;
    height: 100px;
   
    position: absolute;
    bottom: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.SmallHighlight .SmallHLText{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    cursor: default;
}

.HighlightContent .SmallHighlight:hover .AnimatedButtonArea{
    .AnimeButtonPara p{
        opacity: 0;
        top: -30px;
    }
    .AnimeButon .AnButton{
        top: 0;
        opacity: 1;
    }
}

.MobileSection{
    width: 1400px;
    height: 800px;
    
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    position: relative;

}
.GadgetsSectionHeader{
    width: 100%;
    height: 150px;
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.GadgetsSectionHeader h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    padding: 5px 0;
    cursor: default;
}
.GadgetsSectionHeader ul{
    display: inline-flex;
    margin-left: -40px;
    padding: 10px 0;
}
.GadgetsSectionHeader ul li{
    list-style: none;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.GadgetsSectionDetails{
    width: 1400px;
    height: 180px;
    
    position: absolute;
    margin-top: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.GadgetsSectionDetails div a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
}
.NormallButton{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding: 10px 20px ;
    border-radius: 50px;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    
}
.NormallButton:hover{
    background-color: gray;
}
.GadgetsSectionDetails h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 5px 0;
    cursor: default;
}
.GadgetsSectionDetails p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 10px 0;
}
.TVSection{
    width: 1400px;
    height: 800px;
   
    margin: auto;
   
    overflow: hidden;
    position: relative;

}
.HomeAplianceSection{
    width: 1400px;
    height: 800px;
   
    margin: auto;
   
    overflow: hidden;
    position: relative;

}

.CardSection{
    width: 1400px;
    height: 920px;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.CardSection h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    
    cursor: default;
}
.CardSection .CardDivision{
    width: 100%;
    height: 680px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 110px;
}
.CardDivision .card{
    width: 270px;
    height: 680px;
    border-radius: 25px;
    background-color: rgb(233, 233, 233);
    box-sizing: border-box;
    padding: 20px;

}
.CardDivision .CardImageAndName{
    width: 100%;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.CardDivision .CardDetails{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
     
}
.CardDetails .RadioColorChange input[type="radio"]{
    scale: 1.6;
    margin-right: 20px;
   
}
.CardDetails .Memory{
    display: flex;
    
}
.CardDetails .Memory h5{
    padding: 5px 10px;
    border: solid 1px black;
    border-radius: 50px;
    margin-right: 15px;
    cursor: pointer;
}
.CardDetails span,.CardDetails a{
    color: rgb(0, 47, 255);
}
.CardDetails .FullsizeButton{
    width: 100%;
    height: 40px;
}
.NewTagForCard{
    background-color: lightseagreen;
    color: white;
    font-size: 11px;
    padding: 5px 8px;
    border-radius: 50px;
    position: absolute;
    margin-left: 10px;
    margin-top: 0;
    z-index: 800;
}